.take-control{
    padding: 231px 174px 520px 772px;
    margin-top: -151px;
    background-image: url("../images/bac-img.png");
    background-repeat: no-repeat;
    background-position: center;

}

.control-last-dask{
    color: #fff;
}

.control-last-dask{
    color: #fff;

    &::before{
        background-color: #fff;
    }
}
.control-last-dask{
    width: 450px;
}