
.nike-sport__left-part {
    display: flex;
    justify-content: space-between;
}

.nike-head{
    width: 380px;
}

.nike-spot__link{
    text-decoration: none;
    color: #fff;
    padding: 12px 90px;
    background: #EA625C;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    top: 42px;
    opacity: 0.9;

    &:hover{
        opacity: 1;
    }
}
.nike-sport__img{
    margin-top: 92px;
}
